body {
    background-image: url("images/ub2023_1.jpg");
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}


/* [Page header] */
#page-header {
    height: 400px;
    padding: 20px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

#page-header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#page-header button {
    width: 400px;
}


/* [Page layout] */
#container {
    display: flex;
}

.side {
    flex: 3;

    display: flex;
    flex-direction: column;

    background-color: var(--main-color);
    border-radius: 20px;
    margin: 20px;
    max-height: calc(100vh - 40px);
}

.side:nth-child(1) {
    flex: 2;
    margin-right: 0;
}

.title {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.icon {
    height: 48px;
    filter: invert() drop-shadow(5px 5px 2px black);
    transition: transform ease 0.25s;
}

.icon:hover {
    transform: scale(1.1);
}


/* [Table layout] */
.table {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.table-body {
    height: 100%;
    overflow-y: auto;
    overflow-y: overlay; /*Chrome only*/
}

.table-header, .row {
    display: flex;
    padding: 0 5px;
}

.table-header {
    border-bottom: 5px solid white;

    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}

.table-header .col {
    transition: color ease 0.25s;
}

.table-header .col:hover {
    color: var(--accent-color);
}

.row {
    border-bottom: 1px solid lightgray;
    text-shadow: 1px 1px 2px black;
}

.row:last-child {
    border-bottom: none;
}

.col {
    flex: 1;
    padding: 5px;
    text-align: center;
}


/* [Column width overrides] */
/* Line number */
.col:nth-child(1) {
    max-width: 20px;
}

/* Member speed & distance */
#member-table .col:nth-child(4), #member-table .col:nth-child(5) {
    max-width: 100px;
}

/* Stage distance & time */
#stage-table .col:nth-child(2), #stage-table .col:nth-child(7) {
    max-width: 80px;
}


/* [Inputs] */
input[type=text], select {
    height: 100%;
    width: 100%;

    border: none;
    background-color: transparent;

    font-size: 1rem;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;

    transition: color ease 0.25s;
}

input[type=text] {
    font-style: italic;
}

input[type=text]::placeholder {
    color: white;
    opacity: 0.6;
}

input[type=text]:focus {
    outline: none;
}

select {
    padding: 0 10px;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

input[type=text]:hover, select:hover {
    color: lightgray;
}

option {
    color: initial;
    font-style: initial;
    text-align: initial;
}