body {
    margin: 0;
    color: white;
    background-size: cover;
    --main-color: rgba(36, 150, 212, 0.8);
    --accent-color: #e66b0a;
}

h1,
h2 {
    margin: 0;
    text-shadow: 5px 5px 2px black;
    transition: color ease 0.25s;
}

h1:hover,
h2:hover {
    color: var(--accent-color);
}

#logo {
    filter: drop-shadow(5px 5px 2px black);
    transition: transform ease 0.25s;
}

#logo:hover {
    transform: scale(1.05);
}

button {
    width: 100%;
    height: 40px;

    border: none;
    border-radius: 10px;

    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    
    cursor: pointer;
    background-color: var(--accent-color);
    transition: all ease 0.25s;
}

button:hover {
    filter: drop-shadow(2px 2px 2px black);
    transform: translateY(-1px);
    background-color: #f5700a;
}