body {
    background-image: url("images/ub2023_3.jpg");
}

h1 {
    font-size: min(10vw, 64px);
}

h2 {
    font-size: min(8vw, 48px);
}


/* [Page layout] */
#stripe {
    width: 100vw;
    height: 75vh;
    position: absolute;
    bottom: 0;
    z-index: -1;

    background-color: var(--main-color);
    clip-path: polygon(0 30%, 100% 10%, 100% 100%, 0 100%);
}

#content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#logo {
    width: clamp(320px, 90vw, 600px);
    margin-top: 20px;
}


/* [Calculator section] */
#calculator {
    max-width: 500px;
    padding: 0 20px;
    display: flex;
}

#calculator p {
    margin: 8px 0;
    font-size: 18px;
    text-align: justify;
    text-shadow: var(--shadow-small);
}

#calculator-icon {
    width: min(180px, 20vw);
    filter: invert();
    display: none;
    transition: transform ease 0.25s;
}

#calculator-icon:hover {
    transform: scale(1.05);
}


/* [Social media icons] */
#icon-container {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    margin: 10px 0;
}

#icon-container a {
    transition: transform ease 0.25s;
}

#icon-container a:hover {
    transform: translateY(-10px);
}

#icon-container img {
    width: 48px;
    height: 100%;
    filter: invert();
}


@media screen and (min-width: 768px) {
    #stripe {
        clip-path: polygon(0 60%, 100% 0, 100% 100%, 0 100%);
    }

    #calculator-icon {
        display: block;
    }

    #icon-container {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 250px;
        margin: 10px;
    }
}